/* html {
    height: 100%;
}

body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: rgb(204,204,204); 
    font: 12pt "Tahoma";
    background: linear-gradient(135deg, #919191 20%, #d1d1d1 80%);
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- Page Scale */
.nav {
    width: 100%;
    height: auto;
    position: fixed;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1; 
}

#mainWrapper{
    height: 100vh;
    width: 100vw;
    transform: scale(1);
    background-color: lightcoral;
    margin: -1% 0 0 0;
}

.page {
    size: "A4";
    background: white;
    width: 21cm;
    height: 100%;
    margin: 1% auto 1% auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.pageHeader{
    
}

.pageFooter{
    
}
.subpage {
    padding: 2cm;
    height: 100%;
    width: 100%;
    outline: 2px dodgerblue dashed;
    outline-offset: -2cm;
}

  @media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------Image Selector */
#cladding img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 15px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------Upload Image */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


.uploadInput {
    padding: 10px;
	border: 1px solid #ccc;
    border-radius: 5px;
	background: linear-gradient(135deg, #ff0000d7 10%, #8d4040e1 90%);
	color: #fff;
	width: 80%;
    box-shadow: 2px 2px 5px 2px hsla(0, 0%, 0%, 0.15);
    margin: 1% auto 1% auto;
}

.imagePreviewContainer {
    display: flex;
	padding: 10px;
	flex: 1 1 100vw;
	flex-flow: row wrap;
}

.previewItem {
    display: flex;
	margin: 10px;
	padding: 10px;
	flex: 0 0 350px;
	background: #fff;
	box-shadow: 1px 2px 5px 0px hsla(0, 0%, 0%, 0.35);
}

.imagePreview {
    max-width: 150px;
	height: 150px;
}

.details {
    padding: 10px;
}

.details h6 {
    font-size: 10pt;
	font-weight: normal;
	color: #999;
	padding: 5px;
	margin: 0;
}

.details i {
    cursor: pointer;
}

.dragDrop {
    margin-top: 10px;
	height: 100px;
	background: hsla(0, 0%, 100%, 0.25);
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #ddd;
	border: 2px dashed #eee;
}

.dragging {
    background-color: #fff;
	color: lightsteelblue;
}

.dragging i.material-icons {
    animation: bounce 1s infinite ease-in-out;
}

.inside {
    margin-top: 35px;
}

@keyframes bounce {
    0% { transform: translateY(0); }
	50% { transform: translateY(5px); }
	100% { transform: translateY(0); }
} */

/* ----------------------------------------------------------------------------------------------------------------------------------------Image Viewer */
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    background-image: url("");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;
    margin: 0;
  }

main {
  width: 85VW;
  height: 100%;
  margin-left: 15VW;
  background-color: #444444;
}

header{
  width: 100%;
  height: 10VH;
  margin: auto;
  background-color: #EC2027;
}

.title{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  font-size: 4em;
}

  nav{
  width: 100%;
  margin: auto;
  height: 5VH;
  background-color: hsla(0, 0%, 0%, 0.39); 
  }
  
 .column{
  height: 100%;
  }
  
  .row {
  padding: 5px;
  display: none; /* Hide columns by default */
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: inline-block;
    float: right;
  }

  /* Content */
  .content {
    background-color: white;
    border-top: 3px solid #EC2027;
    border-radius: 3px;
    height: 20VH;
  }

  .content img {
      height: 90%;
      width: 15%;
      border: 2px solid grey;
      border-radius: 3px;
      object-fit: cover;
      margin: 5px;
      float: right;
  }

.text {
      height: 90%;
      width: 25%;
      margin: 5px;
      padding: 5px;
      float: left;
}

h2{
line-height: 5px;  
display: inline-block;
}

h4{
  display: inline-block;
}

p{
  display: inline-block;
}
  
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  min-width: 15VW; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #EC2027; /* Red */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 15VH;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 100%;
    color: white;
    background-color: #EC2027;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: hsla(0, 0%, 45%, 0.247);
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #EC2027;
     color: white;
  }