/* html {
    height: 100%;
}

body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: rgb(204,204,204); 
    font: 12pt "Tahoma";
    background: linear-gradient(135deg, #919191 20%, #d1d1d1 80%);
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- Page Scale */
.nav {
    width: 100%;
    height: auto;
    position: fixed;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1; 
}

#mainWrapper{
    height: 100vh;
    width: 100vw;
    transform: scale(1);
    background-color: lightcoral;
    margin: -1% 0 0 0;
}

.page {
    size: "A4";
    background: white;
    width: 21cm;
    height: 100%;
    margin: 1% auto 1% auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.pageHeader{
    
}

.pageFooter{
    
}
.subpage {
    padding: 2cm;
    height: 100%;
    width: 100%;
    outline: 2px dodgerblue dashed;
    outline-offset: -2cm;
}

  @media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------Image Selector */
#cladding img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 15px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------Upload Image */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


.uploadInput {
    padding: 10px;
	border: 1px solid #ccc;
    border-radius: 5px;
	background: linear-gradient(135deg, #ff0000d7 10%, #8d4040e1 90%);
	color: #fff;
	width: 80%;
    box-shadow: 2px 2px 5px 2px hsla(0, 0%, 0%, 0.15);
    margin: 1% auto 1% auto;
}

.imagePreviewContainer {
    display: flex;
	padding: 10px;
	flex: 1 1 100vw;
	flex-flow: row wrap;
}

.previewItem {
    display: flex;
	margin: 10px;
	padding: 10px;
	flex: 0 0 350px;
	background: #fff;
	box-shadow: 1px 2px 5px 0px hsla(0, 0%, 0%, 0.35);
}

.imagePreview {
    max-width: 150px;
	height: 150px;
}

.details {
    padding: 10px;
}

.details h6 {
    font-size: 10pt;
	font-weight: normal;
	color: #999;
	padding: 5px;
	margin: 0;
}

.details i {
    cursor: pointer;
}

.dragDrop {
    margin-top: 10px;
	height: 100px;
	background: hsla(0, 0%, 100%, 0.25);
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #ddd;
	border: 2px dashed #eee;
}

.dragging {
    background-color: #fff;
	color: lightsteelblue;
}

.dragging i.material-icons {
    animation: bounce 1s infinite ease-in-out;
}

.inside {
    margin-top: 35px;
}

@keyframes bounce {
    0% { transform: translateY(0); }
	50% { transform: translateY(5px); }
	100% { transform: translateY(0); }
} */

/* ----------------------------------------------------------------------------------------------------------------------------------------Image Viewer */
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 20%;
  }

  .content img {
      height: 100%;
      width: 100%;
      border: 1px solid grey;
      border-radius: 5px;
      object-fit: cover;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }
