
/* ----------------------------------------------------------------------------------------------------------------------------------------Image Viewer */
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    background-image: url("");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    left: 0;
    margin: 0;
  }

main {
  width: 85VW;
  height: 100%;
  margin-left: 15VW;
}

header{
  width: 100%;
  height: 10VH;
  margin: auto;
  background-color: #EC2027;
}

.title{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  font-size: 4em;
}

  nav{
  width: 100%;
  margin: auto;
  height: 5VH;
  background-color: hsla(0, 0%, 0%, 0.39); 
  }
  
 .column{
  height: 100%;
  }
  
  .row {
  padding: 5px;
  display: none; /* Hide columns by default */
  }

  /* The "show" class is added to the filtered elements */
  .show {
  display: inline-block;
  }

  /* Content */
  .content {
    background-color: white;
    border-top: 3px solid #EC2027;
    border-radius: 3px;
    height: 20VH;
    width: 84VW;
  }

  .content img {
    height: 90%;
    width: 15%;
    border: 2px solid grey;
    border-radius: 3px;
    margin: 5px;
    float: right;
    background-size: cover;
  }

.text {
      height: 90%;
      width: 25%;
      display: inline-block;
}

h2{
line-height: 5px;  
display: inline-block;
}

h4{
  display: inline-block;
}

p{
  display: inline-block;
}
  
/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  min-width: 15VW; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #EC2027; /* Red */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 15VH;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: 100%;
    color: white;
    background-color: #EC2027;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: hsla(0, 0%, 45%, 0.247);
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #EC2027;
     color: white;
  }